@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3','Kozuka Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	
}
.wrapper{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
	.main-content{
		margin-top: 20px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 20px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid $border_color;
		}
	}
}


/* LAYOUT */
#top{	
	background-color: #f8f8f8;
	line-height: 34px;
	color: #666;
	.top-text{
		float : left;				
		font-size: 14px;
		line-height: 34px;
	}
	.top-links{
		list-style: none;
		margin:0;
		padding: 0; 
		float: right;
		li{
			display: inline-block;
			padding : 0px 15px;
			.fa{
				padding-right: 5px;				
				font-size: 10px;
			}
			a{
				font-size: 13px;
				color: #666;
			}
			a:hover{
				color: $link_color;
			}
		}
		li:last-child{
			padding: 0 0 0 15px;
		}
	}	
}
	

header{ 	
	padding: 10px 0 20px;
	.header-content{
		.logo{
			float : left;			
			width: 292px;
		}
		.header-info{
			float: left;
			margin-left: 170px;
			.header-tel{
				padding-top: 12px;			
				float: left;
				width: 283px;
			}
			.header-con{
				padding-top: 12px;
				margin-left: 20px;
				float: left;
				width: 184px;
			}
		}	
		
	}
}

nav{	
		/* dynamic */	
	  #gNavi .dynamic {		
		margin: 0px;
		padding: 0px;    
		list-style: none; }
	  #gNavi .dynamic li {
		float: left;    
		border-left: 1px solid #ccc;	
		}
	  #gNavi .dynamic li:last-child {
		border-right: 1px solid #ccc;	}
	  #gNavi .dynamic li a {	
		color: #fff;
		display: block;         
		padding: 5px 0;
		}
	  #gNavi .dynamic li a span {
		display: block;
		text-align: center;    
		}
	  #gNavi .dynamic li a span.first {
		color : #333;
		font-size: 15px;
		line-height: 15px; }
	  #gNavi .dynamic li a span.second {
		margin-top: 5px; 
		font-size: 12px; 
		color: #999;
		}
	  #gNavi .dynamic li a:hover {		
			span.first{ color : $link_color; }
		}
	/* end gNavi */	
}

#slider{
	.slider-content{	
		margin-top: 20px;
		position: relative;			
		.bx-wrapper{
			margin : 0px auto;			
		}	
		.bx-viewport{
			height : 350px !important;
			left : 0px;
			box-shadow : none;
			border : none;
		}
		.bx-pager{
			display : none;  
		}
		#bx-pager{
			padding-top: 10px;						
			a img{			
				width: 256px;			
				height: auto;				
			}
			a{
				padding-left: 7.5px;
			}
			a:first-child{
				padding-left: 0;
			}
		} 		
	}
}


#maintop{
	/* message-group */
	.maintop-group{
		margin-top: 25px;
		.maintop-row{
			margin-top: 20px;
			.maintop-col{
				float : left;
			}
		}
		.maintop-row:first-child{
			margin-top: 0;
		}
	}
	.maintop-group.maintop-col340{
		.maintop-col{
			width: 340px;						
			margin-left: 20px;	
			border: 1px solid #ccc;			
			
			.maintop-title{
				height: 53px;
				padding: 20px;
				background-color: #f8f8f8;
				.maintop-title1{				
					font-size: 20px;
					float: left;
				}
				.maintop-title2{
					color: #999;
					font-size: 13px;
					float: right;
				}
			}
			
			.maintop-content{
				padding: 15px;
				background-color: #f8f8f8;
				.maintop-text{
					padding-bottom: 12px;
					.maintop-tinfo1{
						width: 148px;
						line-height: 30px;
						float: left;
						padding-left: 12px;
						border: 1px solid #ccc;
						.ttext-text1{
							text-align: left;					
							padding-right: 22px;
						}
						.ttext-text2{
							text-align: right;						
						}
					}
					.maintop-tinfo2{
						@extend .maintop-tinfo1;
						float: left;
						border-left: none;
					}
				}
				
				.maintop-btn{
					text-align: center;
				}
			}
				
			.maintop-img{
				height: 139px !important;
			}
			
			.basic-color{
				color: #6acad5;
			}
			.semi-color{
				color: $sub_color1;
			}
			.full-color{
				color: $sub_color2;
			}			
		}
		.maintop-col:first-child{
			margin-left: 0;
		}
	}		
}

#page-feature{
	.page-feature-content{
		margin-top: 20px;
	}
}

#top-breadcrumb{
	.home{
		text-decoration: underline;
	}
	a:hover{
		text-decoration: none;
	}
}

#content{
	padding : 33px 0px 60px;
	/*.primary-row{
		margin-top : 30px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}*/

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}
	
	.message-275{
		background-color: $clr_normal;
		padding: 23px 25px 29px 21px;       
		.image{ width : 275px; }
		.text{ 
			width : 409px;
			margin-left: 28px !important;
		}
	}
	
	.message-375{
		.image{ width : 375px; }
		.text{ 
			width : $primary_width - 375px- 20px; 
		}
	}
	
	.message-200{
		.image{ width : 200px; }
		.text{ 
			width : $primary_width - 200px - 20px; 
			.msg200-title{		
				margin-bottom: 10px;
				font-size: 22px;				
				line-height: 1.8em;
				.msg200-title-first{
					margin-left: -15px;
				}
			}
			.msg200-text{
				line-height: 2em;
			}
			.basic-clr{
				color: #ff909f;
			}
			.semi-clr{
				color: $sub_color1;
			}
			.full-clr{
				color: $sub_color2;
			}
		}
	}

	.message-160{
		.image{ width : 160px; }
		.text{ 
			width : 538px; 
			.msg160-title{				
				font-size: 20px;
				padding-bottom: 13px;
				margin-bottom: 18px;
				border-bottom: 1px solid #727272;
			}			
		}
	}
	
	
	.message-220{
		background-color: $clr_normal;
		padding: 20px;
		margin-top: 50px;
		.image{ width : 220px; }
		.text{ 
			width : 480px; 			
			.msg220-title{				
				font-size: 18px;				
				padding-bottom: 25px;
			}
			.msg220-text{
				line-height: 1.8em;
			}
		}
	}
	
	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;	
			.text{
				padding-top: 15px;
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col230{
		.message-col{
			width: 230px;	
			margin-left: 15px;
			.top-box1-title{
				padding-top: 23px;
				line-height: 1.8em;
				color: $link_color; 
				font:{
					size: 17px;
					weight: bold;
				}
			}
			.top-box1-text{
				padding-top: 25px;
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;	
			.text{
				padding-top: 15px;
				text-align: center;				
				.factory-addr-title{
					font-size: 16px;
					padding-bottom: 12px;
				}
			}			
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-group.message-col160{
		.message-col{
			width: 160px;	
			margin-left: 25px;	
			.cl160-title{
				margin: 15px 0;
				padding-bottom: 15px;
				border-bottom: 1px solid $border_color;
				font-size: 18px;
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-classic{
		.message-col{
			padding: 10px;
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
	.h2-title{ 
		background: transparent url("../img/common/h2-title.jpg") no-repeat 0 center scroll;		
		line-height: 26px; 
		padding-left: 35px;
		margin-bottom: 20px;
		color: #666;
		float: left;
		font:{
			size: 24px;
			weight: bold;
		}
	}
	.h2_title,
	.h3_title{
		margin-bottom: 15px;
	}
	
	/*///////////////// sidebar ///////////////*/
	/* sideNavi */
	#sideNavi{
		background : $main_color;
		padding: 15px;
		@include border_radius(5px);
		.title{			
			color : #fff;			
			text-align: center;		
			padding: 5px 0 18px;
			font: {
				size: 20px;
				weight: bold;
			}
		}
		ul{
			list-style: none;
			margin : 0;
			padding : 0;
			li{
				margin-top: 1px;
				a{
					display: block;
					line-height: 40px;					
					padding-left : 15px;
					background : $bg_color;
					position : relative;
					i.fa{
						position : absolute;
						right : 10px;
						top : 0;
						line-height: 40px;
						font-size: 7px;
						padding-right: 5px;
					}
				}
				a:hover{
					background : $main_color;
					color : #fff;
					border: 1px solid $bg_color;
				}
			}
		}
	}

	/* side-con */
	.side-con{
		position : relative;	
		.side-con-btn{
			position : absolute;
			top : 83px;
			left : 15px;
		}	
	}
	
	/* side-sample */
	.side-sample{
		margin-left: -15px;
	}
	
	/* sideMenu */
	.sideMenu{
		background : $bg_color url("../img/common/side_menu_bg.png") no-repeat 0 0 scroll;				
		height: 311px;
		.title{			
			color : #666;			
			text-align: center;		
			padding: 5px 0 18px;
			font: {
				size: 20px;
				weight: bold;
			}
		}
		.sideMenu-content{
			list-style: none;
			margin: 10px 0 0 70px;	
			padding : 0;
			li{
				margin-top: 1px;
				a{
					display: block;					
				}				
			}
		}
	}
	
	/* side-basic */
	.side-basic{
		position : relative;	
		.side-basic-btn{
			position : absolute;
			top : 93px;
			right : 11px;
		}		
	}
	
	/* side-bridal */
	.side-bridal{
		position : relative;	
		.side-bridal-btn{
			position : absolute;
			top : 85px;
			right : 11px;
		}		
	}
	
	/* side-about */
	.side-about{
		position : relative;	
		.side-about-btn{
			position : absolute;
			top : 105px;
			right : 15px;
		}		
	}
	
	/* side-about */
	.side-factory{
		position : relative;	
		.side-factory-btn{
			position : absolute;
			top : 105px;
			right : 15px;
		}		
	}
}


/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
	.form-submit {		
		text-align: center;		
		.formparter-comfirm{					
			margin-top : 15px;
			background : transparent url("../img/content/form_basic_submit.jpg") no-repeat 0 0 scroll;
			width: 718px;
			height: 99px;			
			text-indent : -9999px;
			border: none;
		}
	}
}


footer{
	margin-top : 20px;
	.footer-content1{
		.footer-logo{
			float : left;			
		}
		.footer-tel{
			padding-top: 12px;
			margin-left: 170px;
			float: left;
			width: 283px;
		}
		.footer-con{
			padding-top: 12px;
			margin-left: 15px;
			float: left;			
		}
		
	}
	
	.footer-content2{
		margin-top: 40px;
		.footer-info{
			color: #666;
			float: left;
			.footer-space{
				padding-top: 13px;
			}
			.footer-copyright{
				padding-top: 18px;
			}
		}
		.footer-navi{
			float: left;
			padding-left: 40px;
			ul{				
				padding-left : 13px;
				margin-left: 35px;
				list-style: none;
				border-left: 1px solid #ccc;		
				height: 110px;
				float: left;
				li{
					a{
						color: #666;
						line-height: 2em;
					}
					a:hover{
						color: $link_color;
					}
				}				
				.fa{					
					margin-right: 5px;
					color: #666;
					font-size: 9px;
				}
			}
			ul:first-child{
				margin-left: 0;
			}		
			ul:last-child{
				margin-left: 20px;
				border-right: 1px solid #ccc;
				padding-right: 13px;
			}	
		}				
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 760px) 
and (orientation : portrait){	
	/*------- header ------*/
	header{ 	
		padding: 10px 0 20px;
		.header-content{
			.logo{
				float : left;			
				width: 292px;
			}
			.header-info{
				float: left;
				margin-left: 0 !important;
				.header-tel{
					padding-top: 12px;			
					float: left;
					width: 283px;
				}
				.header-con{
					padding-top: 12px;
					margin-left: 0 !important;
					float: left;
					width: 184px;
				}
			}	
			
		}
	}
	/*------- slider banner -------*/
	#slider{
		.slider-content{	
			margin-top: 20px;
			position: relative;	
			margin-bottom: 120px;
			.bx-wrapper{
				margin : 0px auto;			
			}	
			.bx-viewport{
				height : 350px !important;
				left : 0px;
				box-shadow : none;
				border : none;
			}
			.bx-pager{
				display : none;  
			}
			#bx-pager{
				position: absolute;
				top: 105px;
				left: 0px;
				padding-top: 10px;						
				a img{			
					width: 256px;			
					height: auto;				
				}
				a{
					padding-left: 0 !important;
				}
				a:first-child{
					padding-left: 0;
				}
			} 		
		}
	}

	/*-----  maintop content -------*/
	#maintop{
		/* message-group */
		.maintop-group{
			margin-top: 25px;
			.maintop-row{
				margin-top: 20px;
				.maintop-col{
					float : left;
				}
			}
			.maintop-row:first-child{
				margin-top: 0;
			}
		}
		.maintop-group.maintop-col340{
			.maintop-col{
				width: 340px;						
				margin-left: 0 !important;
				border: 1px solid #ccc;			
				
				.maintop-title{
					height: 53px;
					padding: 20px;
					background-color: #f8f8f8;
					.maintop-title1{				
						font-size: 20px;
						float: left;
					}
					.maintop-title2{
						color: #999;
						font-size: 13px;
						float: right;
					}
				}
				
				.maintop-content{
					padding: 15px;
					background-color: #f8f8f8;
					.maintop-text{
						padding-bottom: 12px;
						.maintop-tinfo1{
							width: 148px;
							line-height: 30px;
							float: left;
							padding-left: 12px;
							border: 1px solid #ccc;
							.ttext-text1{
								text-align: left;					
								padding-right: 22px;
							}
							.ttext-text2{
								text-align: right;						
							}
						}
						.maintop-tinfo2{
							@extend .maintop-tinfo1;
							float: left;
							border-left: none;
						}
					}
					
					.maintop-btn{
						text-align: center;
					}
				}
					
				.maintop-img{
					height: 139px !important;
				}
				
				.basic-color{
					color: #6acad5;
				}
				.semi-color{
					color: $sub_color1;
				}
				.full-color{
					color: $sub_color2;
				}			
			}
			.maintop-col:first-child{
				margin-left: 0;
			}
		}		
	}

	/*-----  footer ------- */
	footer{
		margin-top : 20px;
		.footer-content1{
			.footer-logo{
				float : left;			
			}
			.footer-tel{
				padding-top: 12px;				
				float: left;
				width: 283px;
				margin-left: 0 !important;
			}
			.footer-con{
				padding-top: 12px;				
				float: left;				
				margin-left: 0 !important;
			}
			
		}
		
		.footer-content2{
			margin-top: 40px;
			.footer-info{
				color: #666;
				float: left;
				.footer-space{
					padding-top: 13px;
				}
				.footer-copyright{
					padding-top: 18px;
				}
			}
			.footer-navi{
				float: left;
				padding-left: 0 !important;
				margin-top: 20px !important;
				ul{				
					padding-left : 13px;
					margin-left: 10px !important;
					list-style: none;
					border-left: 1px solid #ccc;		
					height: 110px;
					float: left;
					width: 130px !important;
					li{
						a{
							color: #666;
							line-height: 2em;
							font-size: 12px !important;
						}
						a:hover{
							color: $link_color;
						}
					}				
					.fa{					
						margin-right: 5px;
						color: #666;
						font-size: 9px;
					}
				}
				ul:first-child{
					margin-left: 0;
				}						
			}				
		}
	}	
}