@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */

.sideBlog{
	.sideBlog-title{
		color: $main_color;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $main_color;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
		a{
			color: $text_color;
		}		
	}
	a:hover{
		color: $main_color;
	}
}
#part-blog{
	.part-blog-content{				
		.item{
			border-top : 1px dotted $border_color;
			.date{								
				float : left;
				width: 120px;
			}
			.title a{
				color: $text_color;
			}
			a:hover{
				color: $link_color;
			}
			.date,.title{
				line-height: 36px;
			}			
		}	
		.item:last-child{
			border-bottom: 1px dotted $border_color;
		}		
	}
}

/* page content */
#content{	
	/* top */
	.top-content-info1{
		padding: 20px;
		background-color: $clr_normal;
	}
	
	.top-title{
		.top-title-en{
			float: right;
			font-size: 13px;
		}
	}
	.top-content-info2{
		position: relative;
		background: transparent url("../img/content/top_about_bg.jpg") no-repeat 0 0 scroll;		
		height: 262px;
		.info2-text1{
			position: absolute;
			top: 55px;
			left: 70px;
			font-size: 35px;			
			font-weight: bold;
		}
		.info2-text2{
			position: absolute;
			top: 105px;
			left: 25px;
		}
		.info2-text3{
			position: absolute;
			bottom: 65px;
			left: 30px;	
			color: $link_color;
				font:{
					size: 15px;
					weight: bold;
				}			
			.info2-listtext1{
				width: 220px;
				text-align: center;
				float: left;
			}
			.info2-listtext2{
				width: 220px;
				text-align: center;
				float: left;
				padding-left: 12px;
			}
		}
		.info2-text4{
			position: absolute;
			bottom: 25px;			
			left: 25px;
		}
		.info2-btn{
			position: absolute;
			bottom: 23px;
			right: 17px;
		}
	}
	
	.top-content-info3{
		position: relative;
		background: transparent url("../img/content/top_basic_bg.jpg") no-repeat 0 0 scroll;		
		height: 312px;
		.info3-text1{
			position: absolute;
			top: 35px;
			left: 23px;
			font-size: 18px;
			font-weight: bold;
			.info3-ftext1{
				font-size: 20px;
			}
		}
		.info3-text2{
			position: absolute;
			top: 80px;
			left: 23px;
			font:{
				size: 40px;
				weight: bold;
			}
		}
		.info3-text3{
			position: absolute;
			top: 115px;
			left: 23px;	
			line-height: 1.8em;
			.info3-icon{
				font-size: 20px;
			}
		}
		.info3-btn{
			position: absolute;
			bottom: 23px;
			left: 20px;						
		}
	}
	
	.top-content-info4{
		position: relative;
		background: transparent url("../img/content/top_bridal_bg.jpg") no-repeat 0 0 scroll;		
		height: 303px;
		.info4-text1{
			position: absolute;
			top: 37px;
			left: 238px;
			font-size: 44px;
			line-height: 1.2em;
		}
		.info4-text2{
			position: absolute;
			top: 150px;
			left: 238px;
			font-size: 20px;
		}
		.info4-text3{
			position: absolute;
			top: 180px;
			left: 238px;	
			line-height: 1.5em;
			.info4-icon{
				font-size: 25px;
			}
		}
		.info4-btn{
			position: absolute;
			bottom: 30px;
			right: 20px;						
		}
	}
		
	.top-content-info5{
		position: relative;
		background: transparent url("../img/content/top_factory_bg.jpg") no-repeat 0 0 scroll;		
		height: 250px;
		.info5-text1{
			position: absolute;
			top: 134px;
			left: 364px;
			line-height: 1.8em;
		}		
		.info5-btn{
			position: absolute;
			bottom: 28px;
			right: 27px;						
		}
	}
	
	
	.top-part-contact{
		background-color: $clr_normal;	
		padding: 23px;
		.part-contact-text1{		
			font:{
				size: 16px;
				weight: bold;
			}
		}		
		.part-contact-flow{
			padding-top: 20px;
		}
		.part-contact-flist{
			margin: 24px 0 45px;
			padding: 0;
			list-style: none;
			li{
				float: left;
				display: block;
				width: 115px;
				text-align: center;
				padding-left: 27px;
			}
			li:first-child{
				padding-left: 0;
			}
			li:last-child{
				padding-left: 45px;
			}
		}
		.part-contact-bg{
			position: relative;
			background: transparent url("../img/content/top_part_con_bg.jpg") no-repeat 0 0 scroll;		
			height: 104px;
			.part-contact-btn{
				position: absolute;
				bottom: 18px;
				right: 105px;
			}
		}
	}
	
	/*-------------  page basic ---------------- */
	.basic-top-title{
		background-color: $clr_normal;
		padding: 40px 0 40px 25px; 		
		font-size: 25px;
		margin-bottom: 25px;
	}
	
	.basic-box{
		margin-top: 35px;
	}
	.part-basic-box{
		border : 1px solid $main_color;
		margin-top: 35px;
		.primary-box{
			padding: 20px;
			.basic-tab-title{
				border-left: 8px solid $border_color;
				background-color: $clr_normal;
				line-height: 45px;
				font-size: 18px;
				padding-left: 14px;
				margin-bottom: 20px;
			}
			.basic-tab-text{
				line-height: 1.8em;
				padding-bottom: 5px;
			}
			.basic-title{
				background: transparent url("../img/content/basic_title.jpg") no-repeat 0 0 scroll;		
				height: 45px;
				position: relative;
				color: $bg_color;				
				margin: 30px 0 20px;
				.basic-tstep{					
					position: absolute;
					text-align: center;
					padding-top: 10px;
					width: 115px;			
					font:{
						size: 22px;
						weight: bold;
					}
				}
				.basic-ttext{
					position: absolute;
					padding-top: 15px;
					text-align: center;
					padding-left: 130px;			
					font-size: 18px;
				}
			}
				
			.basic-table{
				margin-top: 20px;
				tr th,td{
					padding: 5px 10px;
					font-size: 12px;
				}
				tr th{
					text-align: center;
					width: 70px;
					background-color: $clr_normal;
				}
			}
			
			.msg160-size-title{
				margin-bottom: 18px;
				font-size: 13px;
				.msg160-icon{
					font-size: 20px;
				}				
			}
			
			.basic-bottom-text{
				margin: 35px 0 8px;
				text-align: center;
				/*line-height: 99px;								
				color: $bg_color;
				background-color: #ff6600;
				@include border_radius(2px);
				font-size: 34px;*/
			}
		}
	}
	
	.basic-tab2-title{
		line-height: 45px;
		font-size: 18px;
		padding-left: 15px;
		color: $bg_color;
		background-color: $main_color;
		margin-bottom: 22px;
	}
	.box_shape{
		margin-top: 15px;
		.radio_material{					
			.wpcf7-list-item{										
				width: 160px;
				margin-left: 25px;
				display : inline-block;						
			}
			.wpcf7-list-item:first-child{
				margin-left: 0;
			}
		}
		
		.radio_size{					
			.wpcf7-list-item{										
				width: 220px;
				margin-left: 25px;
				display : inline-block;	
				font-size: 15px;
			}
			.wpcf7-list-item:first-child{
				margin-left: 0;
			}
		}
		
		.radio_print{					
			.wpcf7-list-item{										
				width: 220px;
				margin-left: 25px;
				display : inline-block;	
				font-size: 15px;
			}
			.wpcf7-list-item:first-child{
				margin-left: 0;
			}
		}
		
		.radio_handle{					
			.wpcf7-list-item{										
				width: 160px;
				margin-left: 25px;
				display : inline-block;						
			}
			.wpcf7-list-item:first-child{
				margin-left: 0;
			}
		}
	}	
	
	
	.basic-group-material{
		margin-top: 30px;
		height: 285px;	
		.basic-row-material{
			position: relative;			
				.basic-col-material{
					float : left;
					width: 160px;							
					height: 160px;			
					.basic-text1{
						position: absolute;
						top: -25px;
						width: 160px;
						text-align: left;
					}
					.basic-text2{
						position: absolute;
						top: 175px;
						width: 160px;
						text-align: left;
					}
			}		
			.basic-col160-1{
				@extend .basic-col-material;
				background : $bg_color url("../img/content/basic_form_material1.jpg") no-repeat 0 0 scroll;				
			}	
			.basic-col160-2{
				@extend .basic-col-material;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_material2.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col160-3{
				@extend .basic-col-material;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_material3.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col160-4{
				@extend .basic-col-material;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_material4.jpg") no-repeat 0 0 scroll;		
			}	
		}
		
	}
	
	
	.basic-group-size{
		margin-top: 10px;
		height: 225px;	
		.basic-row-size{
			position: relative;			
				.basic-col-size{
					float : left;
					width:220px;							
					height: 220px;								
			}		
			.basic-col220-1{
				@extend .basic-col-size;
				background : $bg_color url("../img/content/basic_form_size1.jpg") no-repeat 0 0 scroll;				
			}	
			.basic-col220-2{
				@extend .basic-col-size;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_size2.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-3{
				@extend .basic-col-size;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_size3.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-4{
				@extend .basic-col-size;				
				background : $bg_color url("../img/content/basic_form_size4.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-5{
				@extend .basic-col-size;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_size5.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-6{
				@extend .basic-col-size;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_size6.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-7{
				@extend .basic-col-size;				
				background : $bg_color url("../img/content/basic_form_size7.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-8{
				@extend .basic-col-size;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_size8.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-9{
				@extend .basic-col-size;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_size9.jpg") no-repeat 0 0 scroll;		
			}	
		}
		
	}
	
	.basic-group-print{
		margin-top: 10px;
		height: 295px;	
		.basic-row-print{
			position: relative;			
				.basic-col-print{
					float : left;
					width: 220px;							
					height: 220px;								
					.basic-print-text{
						position: absolute;
						top: 235px;
						width: 220px;
						text-align: left;
					}
			}		
			.basic-col220-1{
				@extend .basic-col-print;
				background : $bg_color url("../img/content/basic_form_print1.jpg") no-repeat 0 0 scroll;				
			}	
			.basic-col220-2{
				@extend .basic-col-print;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_print2.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-3{
				@extend .basic-col-print;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_print3.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-4{
				@extend .basic-col-print;				
				background : $bg_color url("../img/content/basic_form_print3.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col220-5{
				@extend .basic-col-print;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_print3.jpg") no-repeat 0 0 scroll;		
			}	
		}
		
	}
	
	
	.basic-group-handle{
		margin-top: 10px;
		height: 250px;	
		.basic-row-handle{
			position: relative;			
				.basic-col-handle{
					float : left;
					width: 160px;							
					height: 160px;								
					.basic-handle-text{
						position: absolute;
						top: 175px;
						width: 220px;
						text-align: left;
					}
			}		
			.basic-col160-1{
				@extend .basic-col-handle;
				background : $bg_color url("../img/content/basic_form_handle1.jpg") no-repeat 0 0 scroll;				
			}	
			.basic-col160-2{
				@extend .basic-col-handle;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_handle2.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col160-3{
				@extend .basic-col-handle;
				margin-left: 25px;
				background : $bg_color url("../img/content/basic_form_handle3.jpg") no-repeat 0 0 scroll;		
			}	
			.basic-col160-4{
				@extend .basic-col-handle;				
				background : $bg_color url("../img/content/basic_form_handle4.jpg") no-repeat 0 0 scroll;		
			}
			
		}
		
	}
	
	.basic-fill{
		.basic-fill-title{
			line-height: 45px;
			font-size: 18px;
			padding-left: 15px;
			color: $bg_color;
			background-color: $main_color;			
		}
		.basic-fill-text{
			border: 1px solid $border_color;
			padding: 20px;
			.basic-fill-unit{
				font-size: 20px;
				padding-right: 30px;
			}
		}
		.ckb_comfirm{
			font-size: 15px;
			.wpcf7-list-item:last-child{padding-left: 50px;}
		}
	}
	
	.basic-size-orther{
		border: 1px solid $border_color;
		height: 220px;
		padding: 90px 80px 90px 300px;
		margin-bottom: 10px;
	}
	
	.basic-table-content{
		.required{
			background-color: #ff6600;
			color: $bg_color;
			float: right;
			padding: 5px;
		}
		.basic-table-fone{
			border: 1px solid $border_color;
			background-color: $clr_normal;
			font-size: 13px;		
			margin-left: 15px;
			@include border_radius(3px);
			padding: 2px 5px;
		}
		.basic-table-chk{
			color: #ff6600;
		}
		.basic-table-content{
			font-size: 12px;
			line-height: 1.8em;
			padding-top: 20px;
		}
		.ckb_check{
			.wpcf7-list-item{
				padding-left: 15px;
			}
			.wpcf7-list-item:first-child{padding-left: 0;}
		}
		tr th{
			width: 200px !important;
			background-color: $main_color;
			color: $bg_color;
			font-size: 16px;
			font-weight: normal;
			padding: 15px !important;
		}
		tr td{
			padding: 5px !important;
		}
	}
	
	.form-basic-submit{
		margin-top : 20px;
		background : transparent url("../img/content/form_basic_submit.jpg") no-repeat 0 0 scroll;
		width: 718px;
		height: 99px;			
		text-indent : -9999px;
		border: none;
	}

	
	.part-basic-btn{		
		border-bottom: 1px solid $main_color;
		a{			
			width: 379px;
			float : left;
			border-left : 1px solid $main_color;				
			display: block;			
			text-align: center;						
			span{
				font-size: 22px;
				line-height: 50px;
				padding-left : 30px;
				background : transparent url('../img/content/basic_btn_off.jpg') no-repeat 0 center scroll;					
			}				
		}					
		a.selected{			
			background-color : $main_color;
			span{				
				color : $bg_color;
				background-color: $main_color;
				background : transparent url('../img/content/basic_btn_on.jpg') no-repeat 0 center scroll;					
			}							
		}	
		a:first-child{
			width: 379px;			
			border-left:none;
		}
	}
	
	
	/*-------------  page about ---------------- */
	.about-top-title{
		background : transparent url('../img/content/about_title_bg.jpg') no-repeat 0 0 scroll; 					
		line-height: 100px;
		padding-left: 67px;
		font-size: 18px;
	}
	
	.about-content-info1{
		background : transparent url('../img/content/about_mainImage.jpg') no-repeat 0 0 scroll;					
		height: 270px;
		position: relative;
		.about-text{
			position: absolute;
			top: 20px;
			left: 175px;
			.about-info1-title{
				font-size: 30px;
				padding-bottom: 25px;
			}
		}
	}
	
	.about-title{
		background: transparent url("../img/content/about_title.jpg") no-repeat 0 center scroll;		
		width: 760px;
		line-height: 50px; 
		padding-left: 20px;		
		color: $bg_color;
		float: left;
		font-size: 24px;
	}
	
	.about-content-choice{	
		position: relative;
		.about-choice-title{
			position: absolute;
			top: 25px;
			left: 60px;
			color: $link_color;
			font:{
				size: 24px;
				weight: bold;
			}
		}
		.about-choice-text{
			position: absolute;
			right: 35px;
			top: 75px;
			left: 305px;
		}
	}
	
	/*-------------  page factory ---------------- */
	.factory-title{
		border-left: 8px solid $border_color;
		background-color: $clr_normal;
		line-height: 45px;
		font-size: 18px;
		padding-left: 14px;
		margin-bottom: 20px;
	}
	
	.factory-process-text{
		margin-bottom: 30px;
	}
	
	.factory-table{				
		tr th{
			text-align: center;
			width: 130px;
			background-color: $clr_normal;
		}
	}
	
	/*-------------  page faq ---------------- */
	.faq-content-row{
		margin-bottom: 10px;
		.question-bg{
			background : transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;				
			height: 50px;		
			padding: 15px 0 0 55px;			
			font-size: 16px;			
		}
		.answer-bg{
			width: 755px;
			padding: 15px 0 0 12px;		
			.answer{				
				background : transparent url("../img/content/faq_content_answer.png") no-repeat 0 0 scroll;						
				height: 34px;
				padding-left: 45px;				
			}
		}
	}

	/*-------------  page contact ---------------- */
	.contact-text{
		border: 1px solid $border_color;
		padding: 20px;
		line-height: 1.8em;
	}
	.contact-form{
		margin-top: 15px;
	}
	
	/*-----page-blog----*/
	.post-row-content{	
		.blog-btnrm{
			float: right;							
			a{
				padding: 3px 8px;
				@include border_radius(5px);
				background-color: $main_color;
				color: $bg_color;
			}
			a:hover{
				padding: 3px 8px;
				@include border_radius(5px);
				background-color: $bg_color;
				color: $main_color;
				border: 1px solid $main_color;
			}
		}
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
		}
		.blog-content{
			margin-top: 20px;
		}
	}

	.navigation{
		margin-top: 20px;
	}
	
	.wp-pagenavi{
		margin-top: 40px;		
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;
			
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}
	
	/*-----page-privacy----*/
	.privacy-text{
		margin-left: 18px;
		line-height: 2em;
		.pravicy-line{
			margin-left: 13px;
		}
	}
	
	/*-----page-company----*/
	.companty-table{
		tr th{
			background-color: $clr_normal;
			font-weight: normal;
			width: 112px;
		}
	}
	
	/*-----page-draft----*/
	.draft-table{
		margin-top: 20px;
		tr th, td{
			font-weight: normal;
		}
		tr th{
			width: 230px;
			font-size: 16px;
			.draft-size{
				font-size: 14px;
			}
		}
		tr td{		
			text-align: center;
			width: 120px !important;			
			.draft-software{
				text-decoration: underline;
				padding-left: 15px;
				color: $text_color;				
			}
			a .draft-software:hover{
				text-decoration: none;
			}
			.draft-icon{
				margin: 10px 0 0 -10px;
			}
		}
		tr td:last-child{
			width: 410px !important;
		}
	}
	.draft-btn{
		float: left;
	}
	.draft-contact{
		float: left;
		margin-left: 10px;
		padding-top: 3px;
		.draft-email{
			color: #fac545;
			text-decoration: underline;
		}
	}
		
	/*--------- page flow ---------*/
	.flow-content{
		background-color: $clr_normal;	
		padding: 23px;
		margin-top: 20px;
		.part-flow-text1{		
			font:{
				size: 16px;
				weight: bold;
			}
		}		
		.part-flow{
			padding-top: 20px;
		}	
		.part-flow-flist{
			margin-top: 24px;
			padding: 0;
			list-style: none;
			li{
				float: left;
				display: block;
				width: 115px;
				text-align: center;
				padding-left: 27px;
			}
			li:first-child{
				padding-left: 0;
			}
			li:last-child{
				padding-left: 45px;
			}
		}		
	}
	
	.flow-info{
		background-color: #f7f7f7;
		padding: 20px 20px 30px 20px;
		margin-top: 50px;
		.flow-note{
			color: $main_color;
			text-decoration: underline;
		}
	}
	
	.flow-contact-bg{
		position: relative;
		background-color: #f7f7f7;
		padding: 20px;
		margin-top: 40px;
		background: transparent url("../img/content/top_part_con_bg.jpg") no-repeat 0 0 scroll;		
		height: 104px;
		.flow-contact-btn{
			position: absolute;
			bottom: 18px;
			right: 150px;
		}
	}
}