@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #7bbdf9;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #ddeefd; }

a:link {
  color: #7abdf8; }

a:visited {
  color: #7abdf8; }

a:hover {
  color: #7abdf8; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3','Kozuka Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
.wrapper {
  max-width: 1060px;
  margin: 0px auto; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }
.primary .main-content {
  margin-top: 20px; }

.sidebar .sidebar-row {
  margin-top: 20px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #cccccc; }

/* LAYOUT */
#top {
  background-color: #f8f8f8;
  line-height: 34px;
  color: #666; }
  #top .top-text {
    float: left;
    font-size: 14px;
    line-height: 34px; }
  #top .top-links {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    #top .top-links li {
      display: inline-block;
      padding: 0px 15px; }
      #top .top-links li .fa {
        padding-right: 5px;
        font-size: 10px; }
      #top .top-links li a {
        font-size: 13px;
        color: #666; }
      #top .top-links li a:hover {
        color: #7abdf8; }
    #top .top-links li:last-child {
      padding: 0 0 0 15px; }

header {
  padding: 10px 0 20px; }
  header .header-content .logo {
    float: left;
    width: 292px; }
  header .header-content .header-info {
    float: left;
    margin-left: 170px; }
    header .header-content .header-info .header-tel {
      padding-top: 12px;
      float: left;
      width: 283px; }
    header .header-content .header-info .header-con {
      padding-top: 12px;
      margin-left: 20px;
      float: left;
      width: 184px; }

nav {
  /* dynamic */
  /* end gNavi */ }
  nav #gNavi .dynamic {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  nav #gNavi .dynamic li {
    float: left;
    border-left: 1px solid #ccc; }
  nav #gNavi .dynamic li:last-child {
    border-right: 1px solid #ccc; }
  nav #gNavi .dynamic li a {
    color: #fff;
    display: block;
    padding: 5px 0; }
  nav #gNavi .dynamic li a span {
    display: block;
    text-align: center; }
  nav #gNavi .dynamic li a span.first {
    color: #333;
    font-size: 15px;
    line-height: 15px; }
  nav #gNavi .dynamic li a span.second {
    margin-top: 5px;
    font-size: 12px;
    color: #999; }
  nav #gNavi .dynamic li a:hover span.first {
    color: #7abdf8; }

#slider .slider-content {
  margin-top: 20px;
  position: relative; }
  #slider .slider-content .bx-wrapper {
    margin: 0px auto; }
  #slider .slider-content .bx-viewport {
    height: 350px !important;
    left: 0px;
    box-shadow: none;
    border: none; }
  #slider .slider-content .bx-pager {
    display: none; }
  #slider .slider-content #bx-pager {
    padding-top: 10px; }
    #slider .slider-content #bx-pager a img {
      width: 256px;
      height: auto; }
    #slider .slider-content #bx-pager a {
      padding-left: 7.5px; }
    #slider .slider-content #bx-pager a:first-child {
      padding-left: 0; }

#maintop {
  /* message-group */ }
  #maintop .maintop-group {
    margin-top: 25px; }
    #maintop .maintop-group .maintop-row {
      margin-top: 20px; }
      #maintop .maintop-group .maintop-row .maintop-col {
        float: left; }
    #maintop .maintop-group .maintop-row:first-child {
      margin-top: 0; }
  #maintop .maintop-group.maintop-col340 .maintop-col {
    width: 340px;
    margin-left: 20px;
    border: 1px solid #ccc; }
    #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title {
      height: 53px;
      padding: 20px;
      background-color: #f8f8f8; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title .maintop-title1 {
        font-size: 20px;
        float: left; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title .maintop-title2 {
        color: #999;
        font-size: 13px;
        float: right; }
    #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content {
      padding: 15px;
      background-color: #f8f8f8; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text {
        padding-bottom: 12px; }
        #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo1, #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 {
          width: 148px;
          line-height: 30px;
          float: left;
          padding-left: 12px;
          border: 1px solid #ccc; }
          #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo1 .ttext-text1, #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 .ttext-text1 {
            text-align: left;
            padding-right: 22px; }
          #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo1 .ttext-text2, #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 .ttext-text2 {
            text-align: right; }
        #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 {
          float: left;
          border-left: none; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-btn {
        text-align: center; }
    #maintop .maintop-group.maintop-col340 .maintop-col .maintop-img {
      height: 139px !important; }
    #maintop .maintop-group.maintop-col340 .maintop-col .basic-color {
      color: #6acad5; }
    #maintop .maintop-group.maintop-col340 .maintop-col .semi-color {
      color: #c9d81f; }
    #maintop .maintop-group.maintop-col340 .maintop-col .full-color {
      color: #b19ecb; }
  #maintop .maintop-group.maintop-col340 .maintop-col:first-child {
    margin-left: 0; }

#page-feature .page-feature-content {
  margin-top: 20px; }

#top-breadcrumb .home {
  text-decoration: underline; }
#top-breadcrumb a:hover {
  text-decoration: none; }

#content {
  padding: 33px 0px 60px;
  	/*.primary-row{
  		margin-top : 30px;
  		.primary-row{
  			margin-top: 20px;
  		}
  	}
  
  	.primary-row:first-child{
  		margin-top: 0;
  	}*/
  /* message */
  /* message-group */
  /* heading */
  /*///////////////// sidebar ///////////////*/
  /* sideNavi */
  /* side-con */
  /* side-sample */
  /* sideMenu */
  /* side-basic */
  /* side-bridal */
  /* side-about */
  /* side-about */ }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-280 .image {
    width: 280px; }
  #content .message-280 .text {
    width: 460px; }
  #content .message-275 {
    background-color: #f7f7f7;
    padding: 23px 25px 29px 21px; }
    #content .message-275 .image {
      width: 275px; }
    #content .message-275 .text {
      width: 409px;
      margin-left: 28px !important; }
  #content .message-375 .image {
    width: 375px; }
  #content .message-375 .text {
    width: 365px; }
  #content .message-200 .image {
    width: 200px; }
  #content .message-200 .text {
    width: 540px; }
    #content .message-200 .text .msg200-title {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 1.8em; }
      #content .message-200 .text .msg200-title .msg200-title-first {
        margin-left: -15px; }
    #content .message-200 .text .msg200-text {
      line-height: 2em; }
    #content .message-200 .text .basic-clr {
      color: #ff909f; }
    #content .message-200 .text .semi-clr {
      color: #c9d81f; }
    #content .message-200 .text .full-clr {
      color: #b19ecb; }
  #content .message-160 .image {
    width: 160px; }
  #content .message-160 .text {
    width: 538px; }
    #content .message-160 .text .msg160-title {
      font-size: 20px;
      padding-bottom: 13px;
      margin-bottom: 18px;
      border-bottom: 1px solid #727272; }
  #content .message-220 {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 50px; }
    #content .message-220 .image {
      width: 220px; }
    #content .message-220 .text {
      width: 480px; }
      #content .message-220 .text .msg220-title {
        font-size: 18px;
        padding-bottom: 25px; }
      #content .message-220 .text .msg220-text {
        line-height: 1.8em; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
    #content .message-group.message-col240 .message-col .text {
      padding-top: 15px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col230 .message-col {
    width: 230px;
    margin-left: 15px; }
    #content .message-group.message-col230 .message-col .top-box1-title {
      padding-top: 23px;
      line-height: 1.8em;
      color: #7abdf8;
      font-size: 17px;
      font-weight: bold; }
    #content .message-group.message-col230 .message-col .top-box1-text {
      padding-top: 25px; }
  #content .message-group.message-col230 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
    #content .message-group.message-col370 .message-col .text {
      padding-top: 15px;
      text-align: center; }
      #content .message-group.message-col370 .message-col .text .factory-addr-title {
        font-size: 16px;
        padding-bottom: 12px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col160 .message-col {
    width: 160px;
    margin-left: 25px; }
    #content .message-group.message-col160 .message-col .cl160-title {
      margin: 15px 0;
      padding-bottom: 15px;
      border-bottom: 1px solid #cccccc;
      font-size: 18px; }
  #content .message-group.message-col160 .message-col:first-child {
    margin-left: 0; }
  #content .message-classic .message-col {
    padding: 10px;
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #content .message-classic .message-col .title {
      color: #7bbdf9;
      font-size: 16px;
      line-height: 30px; }
    #content .message-classic .message-col .image img {
      max-width: 100%;
      height: auto; }
    #content .message-classic .message-col .text {
      margin-top: 7px;
      line-height: 1.5em; }
  #content .h2-title {
    background: transparent url("../img/common/h2-title.jpg") no-repeat 0 center scroll;
    line-height: 26px;
    padding-left: 35px;
    margin-bottom: 20px;
    color: #666;
    float: left;
    font-size: 24px;
    font-weight: bold; }
  #content .h2_title,
  #content .h3_title {
    margin-bottom: 15px; }
  #content #sideNavi {
    background: #7bbdf9;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #content #sideNavi .title {
      color: #fff;
      text-align: center;
      padding: 5px 0 18px;
      font-size: 20px;
      font-weight: bold; }
    #content #sideNavi ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #content #sideNavi ul li {
        margin-top: 1px; }
        #content #sideNavi ul li a {
          display: block;
          line-height: 40px;
          padding-left: 15px;
          background: white;
          position: relative; }
          #content #sideNavi ul li a i.fa {
            position: absolute;
            right: 10px;
            top: 0;
            line-height: 40px;
            font-size: 7px;
            padding-right: 5px; }
        #content #sideNavi ul li a:hover {
          background: #7bbdf9;
          color: #fff;
          border: 1px solid white; }
  #content .side-con {
    position: relative; }
    #content .side-con .side-con-btn {
      position: absolute;
      top: 83px;
      left: 15px; }
  #content .side-sample {
    margin-left: -15px; }
  #content .sideMenu {
    background: white url("../img/common/side_menu_bg.png") no-repeat 0 0 scroll;
    height: 311px; }
    #content .sideMenu .title {
      color: #666;
      text-align: center;
      padding: 5px 0 18px;
      font-size: 20px;
      font-weight: bold; }
    #content .sideMenu .sideMenu-content {
      list-style: none;
      margin: 10px 0 0 70px;
      padding: 0; }
      #content .sideMenu .sideMenu-content li {
        margin-top: 1px; }
        #content .sideMenu .sideMenu-content li a {
          display: block; }
  #content .side-basic {
    position: relative; }
    #content .side-basic .side-basic-btn {
      position: absolute;
      top: 93px;
      right: 11px; }
  #content .side-bridal {
    position: relative; }
    #content .side-bridal .side-bridal-btn {
      position: absolute;
      top: 85px;
      right: 11px; }
  #content .side-about {
    position: relative; }
    #content .side-about .side-about-btn {
      position: absolute;
      top: 105px;
      right: 15px; }
  #content .side-factory {
    position: relative; }
    #content .side-factory .side-factory-btn {
      position: absolute;
      top: 105px;
      right: 15px; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }
.wpcf7 .form-submit {
  text-align: center; }
  .wpcf7 .form-submit .formparter-comfirm {
    margin-top: 15px;
    background: transparent url("../img/content/form_basic_submit.jpg") no-repeat 0 0 scroll;
    width: 718px;
    height: 99px;
    text-indent: -9999px;
    border: none; }

footer {
  margin-top: 20px; }
  footer .footer-content1 .footer-logo {
    float: left; }
  footer .footer-content1 .footer-tel {
    padding-top: 12px;
    margin-left: 170px;
    float: left;
    width: 283px; }
  footer .footer-content1 .footer-con {
    padding-top: 12px;
    margin-left: 15px;
    float: left; }
  footer .footer-content2 {
    margin-top: 40px; }
    footer .footer-content2 .footer-info {
      color: #666;
      float: left; }
      footer .footer-content2 .footer-info .footer-space {
        padding-top: 13px; }
      footer .footer-content2 .footer-info .footer-copyright {
        padding-top: 18px; }
    footer .footer-content2 .footer-navi {
      float: left;
      padding-left: 40px; }
      footer .footer-content2 .footer-navi ul {
        padding-left: 13px;
        margin-left: 35px;
        list-style: none;
        border-left: 1px solid #ccc;
        height: 110px;
        float: left; }
        footer .footer-content2 .footer-navi ul li a {
          color: #666;
          line-height: 2em; }
        footer .footer-content2 .footer-navi ul li a:hover {
          color: #7abdf8; }
        footer .footer-content2 .footer-navi ul .fa {
          margin-right: 5px;
          color: #666;
          font-size: 9px; }
      footer .footer-content2 .footer-navi ul:first-child {
        margin-left: 0; }
      footer .footer-content2 .footer-navi ul:last-child {
        margin-left: 20px;
        border-right: 1px solid #ccc;
        padding-right: 13px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 760px) and (orientation: portrait) {
  /*------- header ------*/
  header {
    padding: 10px 0 20px; }
    header .header-content .logo {
      float: left;
      width: 292px; }
    header .header-content .header-info {
      float: left;
      margin-left: 0 !important; }
      header .header-content .header-info .header-tel {
        padding-top: 12px;
        float: left;
        width: 283px; }
      header .header-content .header-info .header-con {
        padding-top: 12px;
        margin-left: 0 !important;
        float: left;
        width: 184px; }

  /*------- slider banner -------*/
  #slider .slider-content {
    margin-top: 20px;
    position: relative;
    margin-bottom: 120px; }
    #slider .slider-content .bx-wrapper {
      margin: 0px auto; }
    #slider .slider-content .bx-viewport {
      height: 350px !important;
      left: 0px;
      box-shadow: none;
      border: none; }
    #slider .slider-content .bx-pager {
      display: none; }
    #slider .slider-content #bx-pager {
      position: absolute;
      top: 105px;
      left: 0px;
      padding-top: 10px; }
      #slider .slider-content #bx-pager a img {
        width: 256px;
        height: auto; }
      #slider .slider-content #bx-pager a {
        padding-left: 0 !important; }
      #slider .slider-content #bx-pager a:first-child {
        padding-left: 0; }

  /*-----  maintop content -------*/
  #maintop {
    /* message-group */ }
    #maintop .maintop-group {
      margin-top: 25px; }
      #maintop .maintop-group .maintop-row {
        margin-top: 20px; }
        #maintop .maintop-group .maintop-row .maintop-col {
          float: left; }
      #maintop .maintop-group .maintop-row:first-child {
        margin-top: 0; }
    #maintop .maintop-group.maintop-col340 .maintop-col {
      width: 340px;
      margin-left: 0 !important;
      border: 1px solid #ccc; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title {
        height: 53px;
        padding: 20px;
        background-color: #f8f8f8; }
        #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title .maintop-title1 {
          font-size: 20px;
          float: left; }
        #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title .maintop-title2 {
          color: #999;
          font-size: 13px;
          float: right; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content {
        padding: 15px;
        background-color: #f8f8f8; }
        #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text {
          padding-bottom: 12px; }
          #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo1, #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 {
            width: 148px;
            line-height: 30px;
            float: left;
            padding-left: 12px;
            border: 1px solid #ccc; }
            #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo1 .ttext-text1, #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 .ttext-text1 {
              text-align: left;
              padding-right: 22px; }
            #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo1 .ttext-text2, #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 .ttext-text2 {
              text-align: right; }
          #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-text .maintop-tinfo2 {
            float: left;
            border-left: none; }
        #maintop .maintop-group.maintop-col340 .maintop-col .maintop-content .maintop-btn {
          text-align: center; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-img {
        height: 139px !important; }
      #maintop .maintop-group.maintop-col340 .maintop-col .basic-color {
        color: #6acad5; }
      #maintop .maintop-group.maintop-col340 .maintop-col .semi-color {
        color: #c9d81f; }
      #maintop .maintop-group.maintop-col340 .maintop-col .full-color {
        color: #b19ecb; }
    #maintop .maintop-group.maintop-col340 .maintop-col:first-child {
      margin-left: 0; }

  /*-----  footer ------- */
  footer {
    margin-top: 20px; }
    footer .footer-content1 .footer-logo {
      float: left; }
    footer .footer-content1 .footer-tel {
      padding-top: 12px;
      float: left;
      width: 283px;
      margin-left: 0 !important; }
    footer .footer-content1 .footer-con {
      padding-top: 12px;
      float: left;
      margin-left: 0 !important; }
    footer .footer-content2 {
      margin-top: 40px; }
      footer .footer-content2 .footer-info {
        color: #666;
        float: left; }
        footer .footer-content2 .footer-info .footer-space {
          padding-top: 13px; }
        footer .footer-content2 .footer-info .footer-copyright {
          padding-top: 18px; }
      footer .footer-content2 .footer-navi {
        float: left;
        padding-left: 0 !important;
        margin-top: 20px !important; }
        footer .footer-content2 .footer-navi ul {
          padding-left: 13px;
          margin-left: 10px !important;
          list-style: none;
          border-left: 1px solid #ccc;
          height: 110px;
          float: left;
          width: 130px !important; }
          footer .footer-content2 .footer-navi ul li a {
            color: #666;
            line-height: 2em;
            font-size: 12px !important; }
          footer .footer-content2 .footer-navi ul li a:hover {
            color: #7abdf8; }
          footer .footer-content2 .footer-navi ul .fa {
            margin-right: 5px;
            color: #666;
            font-size: 9px; }
        footer .footer-content2 .footer-navi ul:first-child {
          margin-left: 0; } }
/* part */
.sideBlog .sideBlog-title {
  color: #7bbdf9;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #7bbdf9;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }
  .sideBlog ul a {
    color: #333333; }
.sideBlog a:hover {
  color: #7bbdf9; }

#part-blog .part-blog-content .item {
  border-top: 1px dotted #cccccc; }
  #part-blog .part-blog-content .item .date {
    float: left;
    width: 120px; }
  #part-blog .part-blog-content .item .title a {
    color: #333333; }
  #part-blog .part-blog-content .item a:hover {
    color: #7abdf8; }
  #part-blog .part-blog-content .item .date, #part-blog .part-blog-content .item .title {
    line-height: 36px; }
#part-blog .part-blog-content .item:last-child {
  border-bottom: 1px dotted #cccccc; }

/* page content */
#content {
  /* top */
  /*-------------  page basic ---------------- */
  /*-------------  page about ---------------- */
  /*-------------  page factory ---------------- */
  /*-------------  page faq ---------------- */
  /*-------------  page contact ---------------- */
  /*-----page-blog----*/
  /*-----page-privacy----*/
  /*-----page-company----*/
  /*-----page-draft----*/
  /*--------- page flow ---------*/ }
  #content .top-content-info1 {
    padding: 20px;
    background-color: #f7f7f7; }
  #content .top-title .top-title-en {
    float: right;
    font-size: 13px; }
  #content .top-content-info2 {
    position: relative;
    background: transparent url("../img/content/top_about_bg.jpg") no-repeat 0 0 scroll;
    height: 262px; }
    #content .top-content-info2 .info2-text1 {
      position: absolute;
      top: 55px;
      left: 70px;
      font-size: 35px;
      font-weight: bold; }
    #content .top-content-info2 .info2-text2 {
      position: absolute;
      top: 105px;
      left: 25px; }
    #content .top-content-info2 .info2-text3 {
      position: absolute;
      bottom: 65px;
      left: 30px;
      color: #7abdf8;
      font-size: 15px;
      font-weight: bold; }
      #content .top-content-info2 .info2-text3 .info2-listtext1 {
        width: 220px;
        text-align: center;
        float: left; }
      #content .top-content-info2 .info2-text3 .info2-listtext2 {
        width: 220px;
        text-align: center;
        float: left;
        padding-left: 12px; }
    #content .top-content-info2 .info2-text4 {
      position: absolute;
      bottom: 25px;
      left: 25px; }
    #content .top-content-info2 .info2-btn {
      position: absolute;
      bottom: 23px;
      right: 17px; }
  #content .top-content-info3 {
    position: relative;
    background: transparent url("../img/content/top_basic_bg.jpg") no-repeat 0 0 scroll;
    height: 312px; }
    #content .top-content-info3 .info3-text1 {
      position: absolute;
      top: 35px;
      left: 23px;
      font-size: 18px;
      font-weight: bold; }
      #content .top-content-info3 .info3-text1 .info3-ftext1 {
        font-size: 20px; }
    #content .top-content-info3 .info3-text2 {
      position: absolute;
      top: 80px;
      left: 23px;
      font-size: 40px;
      font-weight: bold; }
    #content .top-content-info3 .info3-text3 {
      position: absolute;
      top: 115px;
      left: 23px;
      line-height: 1.8em; }
      #content .top-content-info3 .info3-text3 .info3-icon {
        font-size: 20px; }
    #content .top-content-info3 .info3-btn {
      position: absolute;
      bottom: 23px;
      left: 20px; }
  #content .top-content-info4 {
    position: relative;
    background: transparent url("../img/content/top_bridal_bg.jpg") no-repeat 0 0 scroll;
    height: 303px; }
    #content .top-content-info4 .info4-text1 {
      position: absolute;
      top: 37px;
      left: 238px;
      font-size: 44px;
      line-height: 1.2em; }
    #content .top-content-info4 .info4-text2 {
      position: absolute;
      top: 150px;
      left: 238px;
      font-size: 20px; }
    #content .top-content-info4 .info4-text3 {
      position: absolute;
      top: 180px;
      left: 238px;
      line-height: 1.5em; }
      #content .top-content-info4 .info4-text3 .info4-icon {
        font-size: 25px; }
    #content .top-content-info4 .info4-btn {
      position: absolute;
      bottom: 30px;
      right: 20px; }
  #content .top-content-info5 {
    position: relative;
    background: transparent url("../img/content/top_factory_bg.jpg") no-repeat 0 0 scroll;
    height: 250px; }
    #content .top-content-info5 .info5-text1 {
      position: absolute;
      top: 134px;
      left: 364px;
      line-height: 1.8em; }
    #content .top-content-info5 .info5-btn {
      position: absolute;
      bottom: 28px;
      right: 27px; }
  #content .top-part-contact {
    background-color: #f7f7f7;
    padding: 23px; }
    #content .top-part-contact .part-contact-text1 {
      font-size: 16px;
      font-weight: bold; }
    #content .top-part-contact .part-contact-flow {
      padding-top: 20px; }
    #content .top-part-contact .part-contact-flist {
      margin: 24px 0 45px;
      padding: 0;
      list-style: none; }
      #content .top-part-contact .part-contact-flist li {
        float: left;
        display: block;
        width: 115px;
        text-align: center;
        padding-left: 27px; }
      #content .top-part-contact .part-contact-flist li:first-child {
        padding-left: 0; }
      #content .top-part-contact .part-contact-flist li:last-child {
        padding-left: 45px; }
    #content .top-part-contact .part-contact-bg {
      position: relative;
      background: transparent url("../img/content/top_part_con_bg.jpg") no-repeat 0 0 scroll;
      height: 104px; }
      #content .top-part-contact .part-contact-bg .part-contact-btn {
        position: absolute;
        bottom: 18px;
        right: 105px; }
  #content .basic-top-title {
    background-color: #f7f7f7;
    padding: 40px 0 40px 25px;
    font-size: 25px;
    margin-bottom: 25px; }
  #content .basic-box {
    margin-top: 35px; }
  #content .part-basic-box {
    border: 1px solid #7bbdf9;
    margin-top: 35px; }
    #content .part-basic-box .primary-box {
      padding: 20px; }
      #content .part-basic-box .primary-box .basic-tab-title {
        border-left: 8px solid #cccccc;
        background-color: #f7f7f7;
        line-height: 45px;
        font-size: 18px;
        padding-left: 14px;
        margin-bottom: 20px; }
      #content .part-basic-box .primary-box .basic-tab-text {
        line-height: 1.8em;
        padding-bottom: 5px; }
      #content .part-basic-box .primary-box .basic-title {
        background: transparent url("../img/content/basic_title.jpg") no-repeat 0 0 scroll;
        height: 45px;
        position: relative;
        color: white;
        margin: 30px 0 20px; }
        #content .part-basic-box .primary-box .basic-title .basic-tstep {
          position: absolute;
          text-align: center;
          padding-top: 10px;
          width: 115px;
          font-size: 22px;
          font-weight: bold; }
        #content .part-basic-box .primary-box .basic-title .basic-ttext {
          position: absolute;
          padding-top: 15px;
          text-align: center;
          padding-left: 130px;
          font-size: 18px; }
      #content .part-basic-box .primary-box .basic-table {
        margin-top: 20px; }
        #content .part-basic-box .primary-box .basic-table tr th, #content .part-basic-box .primary-box .basic-table td {
          padding: 5px 10px;
          font-size: 12px; }
        #content .part-basic-box .primary-box .basic-table tr th {
          text-align: center;
          width: 70px;
          background-color: #f7f7f7; }
      #content .part-basic-box .primary-box .msg160-size-title {
        margin-bottom: 18px;
        font-size: 13px; }
        #content .part-basic-box .primary-box .msg160-size-title .msg160-icon {
          font-size: 20px; }
      #content .part-basic-box .primary-box .basic-bottom-text {
        margin: 35px 0 8px;
        text-align: center;
        /*line-height: 99px;								
        color: $bg_color;
        background-color: #ff6600;
        @include border_radius(2px);
        font-size: 34px;*/ }
  #content .basic-tab2-title {
    line-height: 45px;
    font-size: 18px;
    padding-left: 15px;
    color: white;
    background-color: #7bbdf9;
    margin-bottom: 22px; }
  #content .box_shape {
    margin-top: 15px; }
    #content .box_shape .radio_material .wpcf7-list-item {
      width: 160px;
      margin-left: 25px;
      display: inline-block; }
    #content .box_shape .radio_material .wpcf7-list-item:first-child {
      margin-left: 0; }
    #content .box_shape .radio_size .wpcf7-list-item {
      width: 220px;
      margin-left: 25px;
      display: inline-block;
      font-size: 15px; }
    #content .box_shape .radio_size .wpcf7-list-item:first-child {
      margin-left: 0; }
    #content .box_shape .radio_print .wpcf7-list-item {
      width: 220px;
      margin-left: 25px;
      display: inline-block;
      font-size: 15px; }
    #content .box_shape .radio_print .wpcf7-list-item:first-child {
      margin-left: 0; }
    #content .box_shape .radio_handle .wpcf7-list-item {
      width: 160px;
      margin-left: 25px;
      display: inline-block; }
    #content .box_shape .radio_handle .wpcf7-list-item:first-child {
      margin-left: 0; }
  #content .basic-group-material {
    margin-top: 30px;
    height: 285px; }
    #content .basic-group-material .basic-row-material {
      position: relative; }
      #content .basic-group-material .basic-row-material .basic-col-material, #content .basic-group-material .basic-row-material .basic-col160-1, #content .basic-group-material .basic-row-material .basic-col160-2, #content .basic-group-material .basic-row-material .basic-col160-3, #content .basic-group-material .basic-row-material .basic-col160-4 {
        float: left;
        width: 160px;
        height: 160px; }
        #content .basic-group-material .basic-row-material .basic-col-material .basic-text1, #content .basic-group-material .basic-row-material .basic-col160-1 .basic-text1, #content .basic-group-material .basic-row-material .basic-col160-2 .basic-text1, #content .basic-group-material .basic-row-material .basic-col160-3 .basic-text1, #content .basic-group-material .basic-row-material .basic-col160-4 .basic-text1 {
          position: absolute;
          top: -25px;
          width: 160px;
          text-align: left; }
        #content .basic-group-material .basic-row-material .basic-col-material .basic-text2, #content .basic-group-material .basic-row-material .basic-col160-1 .basic-text2, #content .basic-group-material .basic-row-material .basic-col160-2 .basic-text2, #content .basic-group-material .basic-row-material .basic-col160-3 .basic-text2, #content .basic-group-material .basic-row-material .basic-col160-4 .basic-text2 {
          position: absolute;
          top: 175px;
          width: 160px;
          text-align: left; }
      #content .basic-group-material .basic-row-material .basic-col160-1 {
        background: white url("../img/content/basic_form_material1.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-material .basic-row-material .basic-col160-2 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_material2.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-material .basic-row-material .basic-col160-3 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_material3.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-material .basic-row-material .basic-col160-4 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_material4.jpg") no-repeat 0 0 scroll; }
  #content .basic-group-size {
    margin-top: 10px;
    height: 225px; }
    #content .basic-group-size .basic-row-size {
      position: relative; }
      #content .basic-group-size .basic-row-size .basic-col-size, #content .basic-group-size .basic-row-size .basic-col220-1, #content .basic-group-size .basic-row-size .basic-col220-2, #content .basic-group-size .basic-row-size .basic-col220-3, #content .basic-group-size .basic-row-size .basic-col220-4, #content .basic-group-size .basic-row-size .basic-col220-5, #content .basic-group-size .basic-row-size .basic-col220-6, #content .basic-group-size .basic-row-size .basic-col220-7, #content .basic-group-size .basic-row-size .basic-col220-8, #content .basic-group-size .basic-row-size .basic-col220-9 {
        float: left;
        width: 220px;
        height: 220px; }
      #content .basic-group-size .basic-row-size .basic-col220-1 {
        background: white url("../img/content/basic_form_size1.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-2 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_size2.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-3 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_size3.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-4 {
        background: white url("../img/content/basic_form_size4.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-5 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_size5.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-6 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_size6.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-7 {
        background: white url("../img/content/basic_form_size7.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-8 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_size8.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-size .basic-row-size .basic-col220-9 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_size9.jpg") no-repeat 0 0 scroll; }
  #content .basic-group-print {
    margin-top: 10px;
    height: 295px; }
    #content .basic-group-print .basic-row-print {
      position: relative; }
      #content .basic-group-print .basic-row-print .basic-col-print, #content .basic-group-print .basic-row-print .basic-col220-1, #content .basic-group-print .basic-row-print .basic-col220-2, #content .basic-group-print .basic-row-print .basic-col220-3, #content .basic-group-print .basic-row-print .basic-col220-4, #content .basic-group-print .basic-row-print .basic-col220-5 {
        float: left;
        width: 220px;
        height: 220px; }
        #content .basic-group-print .basic-row-print .basic-col-print .basic-print-text, #content .basic-group-print .basic-row-print .basic-col220-1 .basic-print-text, #content .basic-group-print .basic-row-print .basic-col220-2 .basic-print-text, #content .basic-group-print .basic-row-print .basic-col220-3 .basic-print-text, #content .basic-group-print .basic-row-print .basic-col220-4 .basic-print-text, #content .basic-group-print .basic-row-print .basic-col220-5 .basic-print-text {
          position: absolute;
          top: 235px;
          width: 220px;
          text-align: left; }
      #content .basic-group-print .basic-row-print .basic-col220-1 {
        background: white url("../img/content/basic_form_print1.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-print .basic-row-print .basic-col220-2 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_print2.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-print .basic-row-print .basic-col220-3 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_print3.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-print .basic-row-print .basic-col220-4 {
        background: white url("../img/content/basic_form_print3.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-print .basic-row-print .basic-col220-5 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_print3.jpg") no-repeat 0 0 scroll; }
  #content .basic-group-handle {
    margin-top: 10px;
    height: 250px; }
    #content .basic-group-handle .basic-row-handle {
      position: relative; }
      #content .basic-group-handle .basic-row-handle .basic-col-handle, #content .basic-group-handle .basic-row-handle .basic-col160-1, #content .basic-group-handle .basic-row-handle .basic-col160-2, #content .basic-group-handle .basic-row-handle .basic-col160-3, #content .basic-group-handle .basic-row-handle .basic-col160-4 {
        float: left;
        width: 160px;
        height: 160px; }
        #content .basic-group-handle .basic-row-handle .basic-col-handle .basic-handle-text, #content .basic-group-handle .basic-row-handle .basic-col160-1 .basic-handle-text, #content .basic-group-handle .basic-row-handle .basic-col160-2 .basic-handle-text, #content .basic-group-handle .basic-row-handle .basic-col160-3 .basic-handle-text, #content .basic-group-handle .basic-row-handle .basic-col160-4 .basic-handle-text {
          position: absolute;
          top: 175px;
          width: 220px;
          text-align: left; }
      #content .basic-group-handle .basic-row-handle .basic-col160-1 {
        background: white url("../img/content/basic_form_handle1.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-handle .basic-row-handle .basic-col160-2 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_handle2.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-handle .basic-row-handle .basic-col160-3 {
        margin-left: 25px;
        background: white url("../img/content/basic_form_handle3.jpg") no-repeat 0 0 scroll; }
      #content .basic-group-handle .basic-row-handle .basic-col160-4 {
        background: white url("../img/content/basic_form_handle4.jpg") no-repeat 0 0 scroll; }
  #content .basic-fill .basic-fill-title {
    line-height: 45px;
    font-size: 18px;
    padding-left: 15px;
    color: white;
    background-color: #7bbdf9; }
  #content .basic-fill .basic-fill-text {
    border: 1px solid #cccccc;
    padding: 20px; }
    #content .basic-fill .basic-fill-text .basic-fill-unit {
      font-size: 20px;
      padding-right: 30px; }
  #content .basic-fill .ckb_comfirm {
    font-size: 15px; }
    #content .basic-fill .ckb_comfirm .wpcf7-list-item:last-child {
      padding-left: 50px; }
  #content .basic-size-orther {
    border: 1px solid #cccccc;
    height: 220px;
    padding: 90px 80px 90px 300px;
    margin-bottom: 10px; }
  #content .basic-table-content .required {
    background-color: #ff6600;
    color: white;
    float: right;
    padding: 5px; }
  #content .basic-table-content .basic-table-fone {
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
    font-size: 13px;
    margin-left: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 5px; }
  #content .basic-table-content .basic-table-chk {
    color: #ff6600; }
  #content .basic-table-content .basic-table-content {
    font-size: 12px;
    line-height: 1.8em;
    padding-top: 20px; }
  #content .basic-table-content .ckb_check .wpcf7-list-item {
    padding-left: 15px; }
  #content .basic-table-content .ckb_check .wpcf7-list-item:first-child {
    padding-left: 0; }
  #content .basic-table-content tr th {
    width: 200px !important;
    background-color: #7bbdf9;
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding: 15px !important; }
  #content .basic-table-content tr td {
    padding: 5px !important; }
  #content .form-basic-submit {
    margin-top: 20px;
    background: transparent url("../img/content/form_basic_submit.jpg") no-repeat 0 0 scroll;
    width: 718px;
    height: 99px;
    text-indent: -9999px;
    border: none; }
  #content .part-basic-btn {
    border-bottom: 1px solid #7bbdf9; }
    #content .part-basic-btn a {
      width: 379px;
      float: left;
      border-left: 1px solid #7bbdf9;
      display: block;
      text-align: center; }
      #content .part-basic-btn a span {
        font-size: 22px;
        line-height: 50px;
        padding-left: 30px;
        background: transparent url("../img/content/basic_btn_off.jpg") no-repeat 0 center scroll; }
    #content .part-basic-btn a.selected {
      background-color: #7bbdf9; }
      #content .part-basic-btn a.selected span {
        color: white;
        background-color: #7bbdf9;
        background: transparent url("../img/content/basic_btn_on.jpg") no-repeat 0 center scroll; }
    #content .part-basic-btn a:first-child {
      width: 379px;
      border-left: none; }
  #content .about-top-title {
    background: transparent url("../img/content/about_title_bg.jpg") no-repeat 0 0 scroll;
    line-height: 100px;
    padding-left: 67px;
    font-size: 18px; }
  #content .about-content-info1 {
    background: transparent url("../img/content/about_mainImage.jpg") no-repeat 0 0 scroll;
    height: 270px;
    position: relative; }
    #content .about-content-info1 .about-text {
      position: absolute;
      top: 20px;
      left: 175px; }
      #content .about-content-info1 .about-text .about-info1-title {
        font-size: 30px;
        padding-bottom: 25px; }
  #content .about-title {
    background: transparent url("../img/content/about_title.jpg") no-repeat 0 center scroll;
    width: 760px;
    line-height: 50px;
    padding-left: 20px;
    color: white;
    float: left;
    font-size: 24px; }
  #content .about-content-choice {
    position: relative; }
    #content .about-content-choice .about-choice-title {
      position: absolute;
      top: 25px;
      left: 60px;
      color: #7abdf8;
      font-size: 24px;
      font-weight: bold; }
    #content .about-content-choice .about-choice-text {
      position: absolute;
      right: 35px;
      top: 75px;
      left: 305px; }
  #content .factory-title {
    border-left: 8px solid #cccccc;
    background-color: #f7f7f7;
    line-height: 45px;
    font-size: 18px;
    padding-left: 14px;
    margin-bottom: 20px; }
  #content .factory-process-text {
    margin-bottom: 30px; }
  #content .factory-table tr th {
    text-align: center;
    width: 130px;
    background-color: #f7f7f7; }
  #content .faq-content-row {
    margin-bottom: 10px; }
    #content .faq-content-row .question-bg {
      background: transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;
      height: 50px;
      padding: 15px 0 0 55px;
      font-size: 16px; }
    #content .faq-content-row .answer-bg {
      width: 755px;
      padding: 15px 0 0 12px; }
      #content .faq-content-row .answer-bg .answer {
        background: transparent url("../img/content/faq_content_answer.png") no-repeat 0 0 scroll;
        height: 34px;
        padding-left: 45px; }
  #content .contact-text {
    border: 1px solid #cccccc;
    padding: 20px;
    line-height: 1.8em; }
  #content .contact-form {
    margin-top: 15px; }
  #content .post-row-content .blog-btnrm {
    float: right; }
    #content .post-row-content .blog-btnrm a {
      padding: 3px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #7bbdf9;
      color: white; }
    #content .post-row-content .blog-btnrm a:hover {
      padding: 3px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: white;
      color: #7bbdf9;
      border: 1px solid #7bbdf9; }
  #content .post-row-content .post-row-meta .fa {
    padding: 0 5px 0 20px; }
  #content .post-row-content .post-row-meta .fa:first-child {
    padding-right: 5px;
    padding-left: 0; }
  #content .post-row-content .blog-content {
    margin-top: 20px; }
  #content .navigation {
    margin-top: 20px; }
  #content .wp-pagenavi {
    margin-top: 40px;
    text-align: center; }
    #content .wp-pagenavi .pages, #content .wp-pagenavi .previouspostslink, #content .wp-pagenavi .page, #content .wp-pagenavi .nextpostslink {
      background-color: #7bbdf9;
      color: #fff; }
    #content .wp-pagenavi span.current {
      border-color: #7bbdf9 !important; }
  #content .privacy-text {
    margin-left: 18px;
    line-height: 2em; }
    #content .privacy-text .pravicy-line {
      margin-left: 13px; }
  #content .companty-table tr th {
    background-color: #f7f7f7;
    font-weight: normal;
    width: 112px; }
  #content .draft-table {
    margin-top: 20px; }
    #content .draft-table tr th, #content .draft-table td {
      font-weight: normal; }
    #content .draft-table tr th {
      width: 230px;
      font-size: 16px; }
      #content .draft-table tr th .draft-size {
        font-size: 14px; }
    #content .draft-table tr td {
      text-align: center;
      width: 120px !important; }
      #content .draft-table tr td .draft-software {
        text-decoration: underline;
        padding-left: 15px;
        color: #333333; }
      #content .draft-table tr td a .draft-software:hover {
        text-decoration: none; }
      #content .draft-table tr td .draft-icon {
        margin: 10px 0 0 -10px; }
    #content .draft-table tr td:last-child {
      width: 410px !important; }
  #content .draft-btn {
    float: left; }
  #content .draft-contact {
    float: left;
    margin-left: 10px;
    padding-top: 3px; }
    #content .draft-contact .draft-email {
      color: #fac545;
      text-decoration: underline; }
  #content .flow-content {
    background-color: #f7f7f7;
    padding: 23px;
    margin-top: 20px; }
    #content .flow-content .part-flow-text1 {
      font-size: 16px;
      font-weight: bold; }
    #content .flow-content .part-flow {
      padding-top: 20px; }
    #content .flow-content .part-flow-flist {
      margin-top: 24px;
      padding: 0;
      list-style: none; }
      #content .flow-content .part-flow-flist li {
        float: left;
        display: block;
        width: 115px;
        text-align: center;
        padding-left: 27px; }
      #content .flow-content .part-flow-flist li:first-child {
        padding-left: 0; }
      #content .flow-content .part-flow-flist li:last-child {
        padding-left: 45px; }
  #content .flow-info {
    background-color: #f7f7f7;
    padding: 20px 20px 30px 20px;
    margin-top: 50px; }
    #content .flow-info .flow-note {
      color: #7bbdf9;
      text-decoration: underline; }
  #content .flow-contact-bg {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 40px;
    background: transparent url("../img/content/top_part_con_bg.jpg") no-repeat 0 0 scroll;
    height: 104px; }
    #content .flow-contact-bg .flow-contact-btn {
      position: absolute;
      bottom: 18px;
      right: 150px; }
